<!-- User details -->
<mat-card class="card">
    <mat-card-title class="title">{{user.name}}</mat-card-title>

    <mat-card-content>
        <div class="age item">
            <span class="item-key">Idade:</span> {{userAge}} anos
            <span class="birthdate">({{user.birthdate|date:'dd/LL/yyyy'}})</span>
        </div>
        
        <div class="uid item"> 
            <span class="item-key">CPF:</span> 
            {{user.CPF|mask:'000.000.000-00'}}
        </div>
        
        <div class="phone item">
            <span class="item-key">Telefone:</span> 
            {{user.phone|mask:phoneMask}}
        </div>

        <div class="address item">
            <span class="item-key">Endereço: </span>
            {{user.address.street}}, {{user.address.number}},
            {{user.address.district}} {{user.address.city}} -
            {{user.address.state}}
            
            <span *ngIf="user.address.zipCode">
                - {{user.address.zipCode|mask:'00000-000'}}
            </span>
            <div class="small" *ngIf="user.address.complement">
                ({{user.address.complement}})
            </div>

        </div>

        <div class="item">
            <span class="item-key">Veículo: </span>
            {{user.vehicle.brand}}
            {{user.vehicle.model}}
            {{user.vehicle.year}}
            {{user.vehicle.fuel}}
        </div>
    </mat-card-content>

</mat-card>

<!-- Vehicle details -->
<mat-card class="card">
    <mat-card-title class="title">Detalhes do veículo</mat-card-title>

    <mat-card-content>
        <div class="item">
            <span class="item-key">Fabricante:</span>
            {{user.vehicle.brand}}
        </div>
        
        <div class="item">
            <span class="item-key">Modelo:</span>
            {{user.vehicle.model}}
        </div>
        
        <div class="item">
            <span class="item-key">Ano do modelo:</span>
            {{user.vehicle.year}}
        </div>
        
        <div class="item">
            <span class="item-key">Combustível:</span>
            {{user.vehicle.fuel}} <span class="badge badge-info">{{user.vehicle.shortFuelName}}</span>
        </div>
        
        <div class="item">
            <span class="item-key">Preço (veículo novo):</span>
            {{user.vehicle.price}}
        </div>

        <div class="info">* Informações com base na tabela FIPE</div>
        
    </mat-card-content>

</mat-card>